@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200;300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
}

$container-lg: 92%;
$container-md: 90%;

$background-body: #181818;
$white-color: #ffffff;
$primary-color: #aa84f9;
$light-color: #f2f2f2;
$dark-color: #252525;